interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.carbonintensity.org.uk/intensity/2024-07-01T00:00Z/2024-07-02T00:00Z
  response:
    body:
      string: '{"data":[{"from":"2024-06-30T23:30Z","to":"2024-07-01T00:00Z","intensity":{"forecast":118,"actual":105,"index":"low"}},{"from":"2024-07-01T00:00Z","to":"2024-07-01T00:30Z","intensity":{"forecast":116,"actual":105,"index":"low"}},{"from":"2024-07-01T00:30Z","to":"2024-07-01T01:00Z","intensity":{"forecast":121,"actual":108,"index":"low"}},{"from":"2024-07-01T01:00Z","to":"2024-07-01T01:30Z","intensity":{"forecast":109,"actual":105,"index":"low"}},{"from":"2024-07-01T01:30Z","to":"2024-07-01T02:00Z","intensity":{"forecast":111,"actual":95,"index":"low"}},{"from":"2024-07-01T02:00Z","to":"2024-07-01T02:30Z",[...]
